# =============================================================================
# main data source API Keys and Secrets
ACCESS_KEY_ID='xxx'
SECRET_ACCESS_KEY='xxx'
#  ||
# same
#  ||
POLYGON_API_KEY='xxx'

# !!! you must at least have the polygon.io/massive stock advanced or above subscription
# to have access to real-time snapshot and tick data.

# for tickdataServer data source
# Choose one: polygon, theta, replayer
DATA_MANAGER=polygon

# =============================================================================
# news sources
FMP_API_KEY = 'xxx'
BENZINGA_API_KEY = 'xxx'
# only valid for 30 minutes need to refresh
# a very expensive hint, change your ip to Japan ip to bypass the jwt expiration issue, or implement a jwt refresh mechanism
MOOMOO_WAF_TOKEN = 'xxx'

# for news nlp analysis
DEEPSEEK_API_KEY='sk-xxx'
KIMI_API_KEY='sk-xxx'

# =============================================================================
# Network - Machine IPs
LOCAL_MACHINE_IP = 'localhost'

TRADE_MACHINE_IP = 'local_network_ip'
TRADE_REMOTE_IP = 'remote_ip'

COLLECTOR_MACHINE_IP = 'local_network_ip'
COLLECTOR_REMOTE_IP = 'remote_ip'

NEWS_MACHINE_IP = 'local_network_ip'
NEWS_REMOTE_IP = 'remote_ip'

# postgre sql configuration
LOCAL_DATABASE_URL = 'postgresql+psycopg://user:password@ip:port/dbname'
COLLECTOR_DATABASE_URL = 'postgresql+psycopg://user:password@ip:port/dbname'
TRADE_DATABASE_URL = 'postgresql+psycopg://user:password@ip:port/dbname'

# influxdb urls & tokens
LOCAL_INFLUXDB_URL = 'http://localhost:8086'

TRADE_INFLUXDB_URL = 'http://local_network_ip:8086'
TRADE_REMOTE_INFLUXDB_URL = 'http://remote_ip:8086'
TRADE_INFLUXDB_TOKEN=xxx

COLLECTOR_INFLUXDB_URL = 'http://local_network_ip:8086'
COLLECTOR_REMOTE_INFLUXDB_URL = 'http://remote_ip:8086'
COLLECTOR_INFLUXDB_TOKEN=xxx

# 4002 for paper trading, 4001 for live trading ib gateway
# 7496 for paper trading, 7497 for live trading ib tws
IB_PORT = 7496

# it's ok not to have longport keys, I leave it for future longport trade integration
LONGPORT_APP_KEY='xxx'
LONGPORT_APP_SECRET='xxx'
LONGPORT_ACCESS_TOKEN='xxx'
